
/*      body { font-size: 62.5%; background: #373737; }
*/      #resizable { height: 3.5em; width: 80%; }
      #slider { border-width:0px 1px; height: 1em; }
      #slider .ui-slider-range { z-index: 1; }
      #slider .tick { z-index: 2; position: absolute; height: 100%; /*font-size: 1.8em; line-height: 1.8em;*/ background: none; border-top: none; border-right: none; border-bottom: none; text-align: center; }
      #slider .ui-slider-handle { z-index: 3; height: 1em; width: 0.6em; margin-left: -0.3em; top: 0; border: none; /*margin-top: 0.5em;*/ cursor: e-resize; }
      .ui-slider-mousesliding, .ui-slider-mousesliding .ui-slider-range, .ui-slider-mousesliding .tick { cursor: e-resize; }
      .ui-slider-handle-lo { width: .5em !important; margin-left: 1px !important; }
      .ui-slider-handle-hi { width: .5em !important; margin-left: -.5em !important; }
      /*#switcher { float: right; }*/


   /* new sliderr fixes */
.ui-widget-header {
  color: transparent;
}

.ui-widget-content {
   border: none;
}