@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/dazS1PrQQuCxC3iOAJFEJfR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}



.slider.blue {
    margin-bottom: 10px;

}

html, body {
  /*  background-color: #e6e6e6;*/
  background-color: #222;
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 27px;
  color: #bbb;
}

h2 {
    text-shadow: 3px 3px 1px #fff;
}

article.mainfeature {
  width: 400px;
  height: 300px;
  border: 20px solid white;
  margin: 30px auto;
  background-color: #d4d4d4;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.sliderset {
  margin-top: 70px;
}

.slider {
  position: relative;
  /*  margin: 5px auto;
  */
  width: 250px;
  display: inline-block;
  background: #565656;
  height: 7px;
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 0 4px rgba(0, 0, 0, 0.9);
  border-radius: 7px;
      -webkit-transition: width 1s ease-in;
  transition: width 1s ease-in;
}
.slider div.ui-slider-range {
  display: block;
  height: 7px;
  border-radius: 7px;
  transition-property: background-color;
  transition-duration: 100ms;
}
.slider.red div.ui-slider-range {
  background-color: #e69e9b;
  box-shadow: inset 0 0 4px rgba(163, 18, 0, 0.7), inset 0 0 2px rgba(0, 0, 0, 0.5);
}
.slider.red div.ui-slider-range.hilite, .slider.red div.ui-slider-range.dragging {
  background-color: #ffa09b;
}
.slider.blue div.ui-slider-range {
  background-color: #9FD0E9;
  box-shadow: inset 0 0 4px rgba(0, 85, 151, 0.8), inset 0 0 2px rgba(0, 0, 0, 0.5);
    background-color: #51bbc9;

}
.slider.blue div.ui-slider-range.hilite, .slider.blue div.ui-slider-range.dragging {
  background-color: #9fd5ff;
/*  background-color: #25b3c6;
*/  margin-bottom: 10px;
}
.slider.green div.ui-slider-range {
  background-color: #9edbbc;
  box-shadow: inset 0 0 4px rgba(19, 121, 72, 0.8), inset 0 0 2px rgba(0, 0, 0, 0.5);
}
.slider.green div.ui-slider-range.hilite, .slider.green div.ui-slider-range.dragging {
  background-color: #9ee7c2;
}
.slider.black div.ui-slider-range {
  background-color: #aaaaaa;
  box-shadow: inset 0 0 4px rgba(24, 24, 24, 0.8), inset 0 0 2px rgba(0, 0, 0, 0.5);
}
.slider.black div.ui-slider-range.hilite, .slider.black div.ui-slider-range.dragging {
  background-color: #bbbbbb;
}
.slider.white div.ui-slider-range {
  background-color: #e3e3e3;
  box-shadow: inset 0 0 4px rgba(88, 88, 88, 0.5), inset 0 0 2px rgba(0, 0, 0, 0.3);
}
.slider.white div.ui-slider-range.hilite, .slider.white div.ui-slider-range.dragging {
  background-color: #f0f0f0;
}
.slider a.ui-slider-handle {
  position: absolute;
  top: -5px;
  margin-left: -9px;
  z-index: 2;
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background-color: #d4d4d4;
  background-image: url(chrome_radial.jpg);
  background-size: 100% 100%;
  border: 0px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4), inset 0 0px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.6), 0 4px 2px rgba(0, 0, 0, 0.2), 0 9px 4px rgba(0, 0, 0, 0.1), inset 0 2px 1px white;
  outline: none;
}
.slider a.ui-slider-handle:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -1px;
  top: -4px;
  background-color: none;
  border-radius: 12px;
  background-image: radial-gradient(#ffffff, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
}

.task {
  /*background-color: #dedede;*/
  margin: 0 10%;
  /*margin-bottom: 10px;*/
  border-radius: 10px;
  padding-top: 1em;
      -webkit-transition: width 1s ease-in;
  transition: width 1s ease-in;
}


.taskname {
  display: inline-block;
  width: 200px;
  /*height: 50px;*/
  margin: 0 30px 30px 0;
  text-align: left;
      -webkit-transition: width 1s ease-in;
  transition: width 1s ease-in;
}

.slidebars {
  display: inline-block;
  width: 300px;
}

#wrapper {
  text-align: center;
  height: 100%;
  /*position: relative;*/
}

.horzcenter {
  text-align: center;
  height: 100%;
  /*position: relative;*/
  /*z-index: 3;*/
  /*background-color: transparent;*/
  width: auto;
  height: auto;
  /*position: fixed;*/
  /*display: inline-block;*/
  /*background-color: #aaa;*/
    z-index: 200;
      display: none;
      padding: 1em;


}

#thanks {
  /*display: inline-block;*/
/*  width: 300px;
  height: 250px;*/
  /*position: fixed;*/
  /*background-color: #845949;*/
/*  margin-right: auto;
  margin-left: auto;*/
  /*z-index: 200;*/


    margin: 0 10%;
  /*margin-bottom: 10px;*/
  border-radius: 10px;
  padding-top: 1em;
  /*border: 10px inset #777;*/
  /*background-color: #555;*/
}


#page-header {
  color: #eee; 
  font-size: 35px;
  background-color: #25b3c6;
  width: 90%;
  display: inline-block;
  border-radius: 0 0 .5em .5em;
  margin-bottom: 1em;
  padding: .3em;
  text-shadow: -1px -1px 2px #333;

}

.slider-title {
  position:absolute;
  left: -5em;
  top: -.7em;
  font-size: 12px;

}

.slider-freq {
  position:absolute;
  right: -115px;
  top: -.5em;
  display: inline-block;
  width: 100px;
  text-align: left;
  font-size: 12px;
  color: #aaa;
  margin-bottom: 1em;
}

.slider-stat {
  position:absolute;
  right: -115px;
  top: -.7em;
  width: 100px;
  text-align: left;
  padding-left: 1em;
  font-size: 12px;
  color: #aaa;

}

.horizontal{
  border-bottom:#333 solid 2px; 
  width: 80%; 
  /*box-shadow: 0px .5px .5px .5px #aaa;*/
  display: inline-block;
  /*margin: .3em 0;*/
  border-radius: .5px;
}

.rule{
  border-top:#777 solid 1px;
  width: 80%;  
  display: inline-block; 
  border-radius: 2px;

}

#submit {
  display: inline-block;
  border: 3px inset #fff;
  background: #222;
  margin-right: 10%;
  margin-bottom: 5%;
  color: #eee;
  font-size: 25px;
        -webkit-transition: width 1s ease-in;
  transition: width 1s ease-in;
}

#submit :active{
  border: 3px outset #fff;
}

@media all and (max-width: 650px) and (min-width: 0px) {
  body { width: 100%;}                                    
  html,body{ font-size: 30px; width: 100%; }
  .slider { width: 70%; }
  .horizontal{ margin: 1em 0 0 0;}
  #submit { margin-top: 1em; }
}
@media all and (max-width: 1001px) and (min-width: 651px) {
  #submit { float: right; }
}/* green */

